<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FIREBASE_WIDGET_DATABASE_URL</key>
	<string>$(FIREBASE_WIDGET_DATABASE_URL)</string>
	<key>FIREBASE_WIDGET_GOOGLE_APP_ID</key>
	<string>$(FIREBASE_WIDGET_GOOGLE_APP_ID)</string>
	<key>FIREBASE_WIDGET_PROJECT_ID</key>
	<string>$(FIREBASE_WIDGET_PROJECT_ID)</string>
	<key>FIREBASE_WIDGET_GCM_SENDER_ID</key>
	<string>$(FIREBASE_WIDGET_GCM_SENDER_ID)</string>
	<key>FIREBASE_WIDGET_API_KEY</key>
	<string>$(FIREBASE_WIDGET_API_KEY)</string>
	<key>FIREBASE_WIDGET_CLIENT_ID</key>
	<string>$(FIREBASE_WIDGET_CLIENT_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Jot Widget</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(APP_WIDGET_BUNDLE_ID)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(BUNDLE_WIDGET_STRING)</string>
	<key>CFBundleVersion</key>
	<string>$(BUNDLE_WIDGET_BUILD)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPrincipalClass</key>
		<string>TodayViewController</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widget-extension</string>
	</dict>
</dict>
</plist>
